.label {
  background: #E2FFEC;
  font-size: 1.6rem;
  font-weight: 500;
  color: #000;
  padding: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 27px;
  border-radius: 3px;
  line-height: 1;
  margin: 0 4px;
}