.header {
  margin-top: 4rem;
}
.header .header-contents {
  border-top: 2px solid var(--default-color);
  border-bottom: 1px solid var(--default-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}
.header-title {
  font-size: 2rem;
  font-weight: 500;
}
.header-links {
  font-weight: 500;
}
.header-links a {
  margin-left: 3rem;
  transition: color 0.15s ease-in-out;
  position: relative;
}
.header-links a:hover {
  color: #999;
}