.section-content {
  background: #000;
  color: #fff;
  padding: 100px 0;
}
.section-content .inner {
  display: flex;
  gap: 40px;
}
.section-content .side-bar {
  width: 200px;
  height: 100%;
  position: sticky;
  top: 2rem;
  z-index: 10;

  /* display: none; */
}
.section-content .content-side {
  width: calc(100% - 240px);
  /* overflow: hidden; */
}
.section-content .content-side > * {
  /* display: none; */
}
.main-section__about {
  display: flex;
  gap: 4rem;
}
.main-section__about .img-wrap {
  width: 32rem;
  height: 32rem;
  background: rgba(147, 147, 147, 0.55);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.main-section__about .main-section:first-child {
  margin-bottom: 8rem;
}
.main-section__about .content-wrap {
  width: calc(100% - 32rem - 40px);
}
.main-section__post .section-content-wrap {
  display: flex;
  gap: 40px;
}
.main-section__post .section-content-wrap .post-item {
  width: 100%;
}
.main-section__contact .section-desc {
  margin-bottom: 4rem;
}
.main-section__contact .contact-item {
  margin-top: 2rem;
}

@media screen and (max-width: 1024px) {
  .section-content {
    padding-top: 1.2rem;
    padding-bottom: 4rem;
  }
  .section-content .inner {
    display: block;
  }
  .section-content .side-bar {
    width: 100%;
    background: #000;
    top: 0;
    padding-top: 2rem;
  }
  .section-content .side-bar .side-bar-list {
    display: flex;
    justify-content: end;
    gap: 6rem;
  }

  .section-content .content-side {
    width: 100%;
    margin-top: 6rem;
  }
  .main-section__about .img-wrap {
    display: none;
  }
  .main-section__about .content-wrap {
    width: 100%;
  }  
  .main-section__post .section-content-wrap {
    gap: 20px;
  }
}