.section-intro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  padding-bottom: 5vh;
  text-align: center;
  font-size: 8.5rem;
  line-height: 1.1;
  position: relative;
}
.section-intro h1 {
  font-weight: 800;
}
.section-intro h1 strong {
  display: block;
  font-size: 12rem;
  font-weight: 800;
  color: #fff;
  -webkit-text-stroke: 3px var(--default-color);
}
.scroll-down {
  font-size: 1.8rem;
  color: #aaa;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.scroll-down i {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url(/src/assets/chevrons-down.svg) no-repeat;
  margin-top: 2.5rem;
  animation: scrollArrowAnimation 1.1s infinite;
}
@keyframes scrollArrowAnimation {
  0% {
    transform: translateY(-10px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

.content-container {
  background: #000;
  color: #fff;
  padding: 100px 0;
}
.content-container .inner {
  display: flex;
  gap: 40px;
}
.content-container .side-bar {
  width: 200px;
}
.content-container .sections-wrap {
  width: calc(100% - 240px);
}


.section-about {
  display: flex;
  gap: 4rem;
}
.section-about .img-wrap {
  width: 32rem;
  height: 32rem;
  background: rgba(147, 147, 147, 0.55);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.section-about .main-section:first-child {
  margin-bottom: 8rem;
}

@media screen and (max-width: 768px) {
  .section-intro {
    height: 70vh;
  }
  .section-intro h1 {
    font-size: 6.2rem;
  }
  .section-intro h1 strong {
    font-size: 8rem;
    -webkit-text-stroke: 2px var(--default-color);
  }
}