.post-item {
  border-radius: 8px;
  overflow: hidden;
}
.post-item .thumb {
  width: 100%;
  height: auto;
  padding-top: 41.394%;
  position: relative;
}
.post-item .thumb img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.post-item .text-container {
  padding: 4rem;
  background: #fff;
  color: #000;
}
.post-item .text-container .title {
  font-size: 2.3rem;
  font-weight: 500;
}
.post-item .text-container .desc {
  color: #666;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: keep-all;
  height: 65px;
}

@media screen and (max-width: 1024px) {
  .post-item .text-container {
    padding: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .post-item .text-container .desc {
    height: 45px;
  }
}