@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
  --default-color: #222;
}

html {
  font-size: 10px;
}
body {
  font-size: 1.8rem;
  line-height: 1.8;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: var(--default-color);
  min-width: 360px;
}
.inner {
  width: 100%;
  padding: 0 20px;
  max-width: 1400px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 7px;
  }
}